@inherits NancyRazorViewBase<FfCmS.Core.Model.Page<string>>
@{
    ViewBag.Title = "title";
    Layout = "_Layout.cshtml";
}

<h1>Content Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>Store Id</th>
            <th>Description</th>
            <th>Store Type</th>
            <th>Default Culture</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>@item</td>
            </tr>
        }
    </tbody>
</table>