@using System
@using Newtonsoft.Json
@inherits NancyRazorViewBase<System.Collections.Generic.IEnumerable<Nancy.Routing.RouteDescription>>
@{
    ViewBag.Title = "title";
    Layout = "_Layout.cshtml";
}

<h1>Available Calls</h1>

<table class="table">
    <thead>
        <tr>
            <th>Method</th>
            <th>Uri</th>
            <th>Segments</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>@item.Method</td>
                <td><a href="/@item.Path">@item.Path</a></td>
                <td>@item.Segments</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>